/* Core style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
a {
    color: #555;
}
p {
    color: #555;
}
.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background .5s;
}
.btn:hover {
    background: #563434;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    position: relative;
    color: #555;
}
.title::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    background: #ff523b;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
h4 {
    color: #555;
    font-weight: normal;
}
/* header style */
.header {
    background: radial-gradient(#fff, #ffd6d6);
}
.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;
}
nav {
    display: flex;
    align-items: center
}
nav ul {
    display: inline-block;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}

/* main style */
/* .header .row {
    margin-top: 70px;
} */

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
/* categoris style */
.categoris {
    margin: 70px 0;
}
.rating i {
    color: #ff523b
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    width: 100%;
    padding: 50px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
}
.col-3 img {
    width: 100%;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform .5s linear;
}
.col-4:hover {
    transform: translateY(-10px);
}
.col-4 p {
    font-size: 14px;
    margin-top: 5px;
}
.col-4 img {
    width: 100%;
}
.col-4 h4 {
    margin: 6px 0;
}
/* offter */
.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.offer p {
    color: #555;
    line-height: 20px;
}
.col-2 .offer-img {
    padding: 50px; 
}

/* testimonial */
.testimonial {
    margin: 100px 0;
}
.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform .5s;
    margin-top: 20px;
}
.testimonial .col-3:hover {
    transform: translateY(-10px);
}
.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3 i {
    margin-top: 10px;
}
.testimonial .fa-quote-left {
    color: #ff523b;
    font-size: 50px;

}
.testimonial p {
    color: #555;
    font-size: 14px;
    line-height: 20px;
}


/* prodeuct.html start */
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}
select {
    border: 1px solid #ff523b;
    background: transparent;
    padding: 5px;
}
select:focus {
    outline: none;
}
.page-btn {
    margin: 0 auto 80px;
}
.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background .2s linear, color .2s linear;
}
.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}


/* footer */
footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 20px;
    margin-top: 20px;
}
footer .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
footer .footer-col-1 {
    flex-basis: 30%;
}
footer .footer-col-2 {
    flex: 1;
    text-align: center;
}
footer .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}
footer .app-logo {
    margin-top: 20px;
}
footer .app-logo img {
    width: 140px;
}
footer h3 {
    margin-bottom: 10px;
}
footer ul li {
    margin-bottom: 10px;
    cursor: pointer;
}
footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}



/* ---------media query section start-------------- */
@media (max-width: 583px) {
    .navbar {
        flex-direction: column;
    }
    nav {
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
    }
    nav ul li a {
        margin-top: 10px;
        display: inline-block;
        font-size: 18px;
    }
    header .row {
        text-align: center;
    }
    .col-2, .col-3, .col-4 {
        flex-basis: 100% !important;
    }
    .row {
        text-align: center;
    }
}